# Application metadata
APP_NAME=Silver Enigma
APP_SUMMARY=B2B order management engine
APP_DESCRIPTION=State-driven fulfillment engine

# Backend configuration
DEBUG=True
ENVIRONMENT=development
BACKEND_PORT=8000
BACKEND_WORKERS=4
CORS_ALLOW_ORIGINS=http://localhost:8000
CORS_ALLOW_CREDENTIALS=True
FIRST_ADMIN_NAME=John Doe
FIRST_ADMIN_EMAIL=john.doe@admin.com
FIRST_ADMIN_PASSWORD=SecurePass!23

# Password hashing configuration
TIME_COST=3
MEMORY_COST=65536
PARALLELISM=4

# Database configuration
DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/silver_enigma
DATABASE_URL_ALEMBIC=postgresql+psycopg2://postgres:password@postgres:5432/silver_enigma
DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_DB=silver_enigma
POSTGRES_PASSWORD=password

# Redis configuration
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_HOST=redis
REDIS_DB=0
